h1{
	text-align: center;
	margin-top: 50px;
	color: orange;
}
#d1{
	background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1518325558088&di=4feb37da4b405d2ecbedfc5b21dc30a1&imgtype=0&src=http%3A%2F%2Fi2.hdslb.com%2Fbfs%2Farchive%2Fd17b43ace8f29ea7fff071f4010590d79c7f00b5.jpg) no-repeat center;
	height: 300px;
	width: 100%;
}